# Ignore everything in env folders
environments/venv/*
environments/xtts_env/*
environments/whisperx_env/*
environments/video_env/*
environments/opencv_video_env/*
environments/hidream_env/*
environments/temp/*
environments/chatterbox_env/*
environments/echomimic_env/*
environments/MultiTalk/*
environments/multitalk_venv/*

# But include their requirements.txt files
!environments/venv/requirements.txt
!environments/xtts_env/requirements.txt
!environments/whisperx_env/requirements.txt
!environments/video_env/requirements.txt
!environments/hidream_env/requirements.txt
!environments/chatterbox_env/requirements.txt
!environments/echomimic_env/requirements.txt

# Ignore audio and output
# audio/narrations/
output/
stories/
audio/
subtitles/

# Ignore secrets and credentials
scripts/client_secrets.json
client_secret_467826760335-3q1n6l8jfbp1tgcg1suu3c9cdpgmlqe7.apps.googleusercontent.com.json
/client_secrets.json
/token.pickle
credentials.txt

# Ignore temp video files
/video_*TEMP_*.mp4
temp

extra/token.pickle
extra/credentials.txt